:root{
    --iconScale: 1;
    --iconWidth: 50px;
    --iconHeight: 50px;
    --iconColor: rgb(206, 122, 13);
}
*{
    background-color: rgb(13, 34, 73);
}
#iconContainer{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    gap: 30px;
    justify-content: center;
    opacity: .7;
}
.icon{
    width: calc(var(--iconWidth)*var(--iconScale));
    height: calc(var(--iconHeight)*var(--iconScale));
    transition: all .2s ease-in-out;
    /* background-color: black; */
}
.icon:hover{
    scale: 1.2;
}
.iconFillColor{
    fill: var(--iconColor);
}
.iconStrokeColor{
    stroke: var(--iconColor);
    stroke-width: 3px;
}